* {
    box-sizing: border-box;
  }

:root {
    --primary: black;
    --black: #333;
    --secondary: papayawhip;
}

body {
    margin: 0;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 112,5%;
    line-height: 1.4;
    color: var(--primary);
    background-color: rosybrown;
    line-height: 1.4;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    display: grid;
    grid-template-rows: [header] 80px [main] auto [footer] 80px;
grid-template-columns: [width] 80vw;

}

a {
    text-decoration: none;
    border-bottom: 1px solid;
}

input, 
button,
textarea {
    font-size: inherit;
}



.button {
    background: var(--black);
    color: white;
    border-bottom: none;
    padding: 8px;
    border-radius: 4px;
}


/*Header*/

.page-header {

    grid-row: header;
    grid-column: width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.header-children {
    width: 100%;
    margin: 0;
}

.nav-bar {
    margin: 10px;
}

.bild-mit-p{

    padding: 20px;
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;

   
}

.image-fluid {
    width: 30%;
    height: auto;
    align-items: center;
}

/*Main*/

.page-main {
    grid-row: main;
    grid-column: width;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mein-cv{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

dt {
    font-weight: bold;
}


.flex-image{
    justify-content: center;
    align-items: center;
    width: 100%;
}

.picture {
  width: 40vw;
}

.container{
    width: 100%;
    padding: 20px;
    background: none;
    margin-bottom: 40px
    }

.contact {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.social-media{
    display: flex;
    width: 80vw;
    justify-content: center;
}

.icons {
    width: 30vw;
}


/*Footer*/

.footer {
    grid-row: footer;
    grid-column: width;
}

