@import './styles/_base.css';
@import './styles/_variables.css';
@import './styles/_utility.css';
@import './styles/components/header.css';



.button {
    background: var(--black);
    color: white;
    border-bottom: none;
    padding: 8px;
    border-radius: 4px;
}


/*Header*/

.page-header {

    grid-row: header;
    grid-column: width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.header-children {
    width: 100%;
    margin: 0;
}

.nav-bar {
    margin: 10px;
}

.bild-mit-p{

    padding: 20px;
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;

   
}

.image-fluid {
    width: 30%;
    height: auto;
    align-items: center;
}

/*Main*/

.page-main {
    grid-row: main;
    grid-column: width;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mein-cv{
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.flex-image{
    justify-content: center;
    align-items: center;
    width: 100%;
}

.picture {
  width: 40vw;
}

.container{
    width: 100%;
    padding: 20px;
    background: none;
    margin-bottom: 40px
    }

.contact {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.social-media{
    display: flex;
    width: 80vw;
    justify-content: center;
}

.icons {
    width: 30vw;
}


/*Footer*/

.footer {
    grid-row: footer;
    grid-column: width;
    
}

.button-styling {
    text-decoration: none;
    border-bottom: 1px solid;
}

.list-1 {
    font-weight: bold;
}